# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = rentDataScraping.settings




[deploy]
url = http://berlinrentslive-scraping.herokuapp.com:80/
project = rentDataScraping
username = admin
password = djkiugf87g4ubfi23gfbweuf98
